---
---

<center><h1> üìç üìç DATA STRUCTURE - LIST üìç üìç </h1></center>



---

***Creating a list***

---

In [1]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***Access elements with index***

![](images/table.png)

---

In [3]:
# positive index - second element from the left
my_list[1]

2

In [4]:
# negative index - second last element in the list
my_list[-2]

9

***List Slicing***

---

In [5]:
# get all the elements in the list using colon only
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# same result using the double colon also
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# after second colon we define the step
my_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# slice list with step 2
my_list[::2]

[1, 3, 5, 7, 9]

In [9]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

[3, 4, 5]

In [10]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

[3, 5]

In [11]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [12]:
# reverse the list using step value as -1
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

***Append an element to the list.***

---

In [13]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
my_list.append(3)

In [15]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [16]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2]]

You can see that it has created an nested list when used append method, You can add multiple elements to the list by using extend function. 

---

In [17]:
my_list.extend([2, 2, 3, 4])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Search for an element in the List***

---

In [18]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [19]:
# find out the index of an element in the list if present
my_list.index(4)

3

In [20]:
# index can also search nested objects
my_list.index([1,2])

11

***Insert an element in the List***

---

In [21]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [23]:
my_list.insert(1, 'w')

In [24]:
my_list

[1, 'w', 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [25]:
my_list.insert(4,'python')

In [26]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [27]:
90 in my_list

False

In [28]:
[1, 2] in my_list

True

In [29]:
[117] not in my_list

True

***Remove an element from the list***

---

In [30]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [31]:
# using remove method, It will find and delete the first element found 4
my_list.remove(4)
my_list

[1, 'w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [32]:
# using del keyword, It will delete the element present at the zeroth index
del my_list[0]
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Iterate the list.***

---

In [33]:
# interate a list
for element in my_list:
    print(element)

w
2
3
python
5
6
7
8
9
10
3
[1, 2]
2
2
3
4

***Some pre-defined method on List***

---

In [34]:
# creat another random list
my_list_2 = [1, 33, 3432, 232, 1 ]

In [35]:
# find out the length of the list
len(my_list_2)

5

In [36]:
# length of the list
my_list_2.reverse()
my_list_2

[1, 232, 3432, 33, 1]

In [37]:
# sort the list
my_list_2.sort()
my_list_2

[1, 1, 33, 232, 3432]

In [38]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
sorted(sample_list)

[1, 2, 33, 34, 35, 42]

***Nested List***

* Some or all of the elements in the list are also of type list.

---

In [39]:
# define a sample nested list
my_list_3 = [1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [40]:
# length of the list
len(my_list_3)

6

In [41]:
# second element is a sigle element
my_list_3[1]

2

In [42]:
# third element is of type list
my_list_3[2]

[1, 2, 1]

In [43]:
# access particular element of the third element (list type element)
my_list_3[2][1]

2

In [44]:
# access element with negative index
my_list_3[-3][-1]

'C'

---

# Problem Statement: üìùüìù

* ***üéìüéì Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. üéìüéì The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

üìçüìç

   * üôá Who scored the highest marks in the subject B?

In [45]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

***Let's try to access the first index of the list.***

---

In [46]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

***Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.***


---

In [47]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

***Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks***

---

In [51]:
student_marks[1][0]

'Ankit'

In [52]:
student_marks[1][1]

[41, 34, 45, 55, 63]

- Now, the student marks are in order **`A`**, **`B`**, **`C`**, **`D`** and **`E`**. and we need to access the value at index 1 to get the marks in subject **`B`**

---

In [53]:
student_marks[1][1][1]

34

***That's the marks of `Ankit` in Subject `B`***

---

---
---
***Now, we will solve the problem step by step.***


---

## üìçüìçüìçWho scored the highest marks in the subject B üèÜ ü•á?   

---

***Step1 üìç: Select name of student and marks in subject B***

In [54]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

---
***Step2 üìç: Store the filtered name and marks in another list.***

In [55]:
# list to store the marks
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [56]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

---

***Step3 üìç: Sort the list. (We Kept the marks as the first index)***

In [57]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

---

***Step4 üìç: Get the final index of the sorted list***

In [58]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

***So, we got the answer of the first question. Gyanü•áü•á has scored the highest marks in subject B.***

---
---

---

## Data Structure - Tuple üìçüìç




* We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.


---



#### Defining the Tuple in Python
---

In [59]:
my_tuple = ('A', 'B', 'C', 'D', 'D', 'E', 1 , 'D')

#### Access element at any Index

---

In [60]:
my_tuple[2]

'C'

#### Find out the index of any element if present in Tuple

---

In [62]:
my_tuple.index('E')

5

#### Count of an element in a tuple

---

In [63]:
my_tuple.count('D')

3

#### Iterate through the elements of the Tuple

---

In [64]:
for element in my_tuple:
    print(element)

A
B
C
D
D
E
1
D

#### Slicing of a tuple

---

In [65]:
# tuple
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [66]:
# first three elements
my_tuple[:3]

('A', 'B', 'C')

In [67]:
# define the start and end point to slice
my_tuple[3:5]

('D', 'D')

In [68]:
# count method on a slice 
my_tuple[3:5].count('D')

2

In [69]:
# index method on a slice
my_tuple[1:4].index('B')

0

#### Tuples are immutable

- We cannot edit/update or delete elements from the tuple.

---

In [70]:
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [71]:
my_tuple[2] = 'D'

TypeError: 'tuple' object does not support item assignment

In [72]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

----