---
---

<center><h1> Data Structure - Set üìçüìç </h1></center>

---

#### Defining a set in Python

---

In [1]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4}

In [2]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [3]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4, 2 , 2}

In [4]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

#### Defining a set from a List  and Tuple

---

In [5]:
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_set_from_list = set(my_list)

In [6]:
my_set_from_list

{1, 2, 'A', 'B'}

In [7]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_tuple = set(my_tuple)

In [8]:
my_set_from_tuple

{1, 2, 'A', 'B'}

#### Add an element to the set

---

In [9]:
my_set.add('O')

In [10]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

#### Delete an element from the list

* Discard - It will not throw an error, if the element you want to remove is not present in the set.
* remove - It will throw an error, if the element you want to remove is not present in the set.

---

In [11]:
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [12]:
my_set.discard('A')

In [13]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [14]:
my_set.discard('X')

In [15]:
my_set.remove('X')

KeyError: 'X'

#### Difference between two Sets

## A-B

![](images/difference.png)
---

In [16]:
# Set 1
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [17]:
# Set 2
my_set_from_list

{1, 2, 'A', 'B'}

In [18]:
# difference of 2 sets
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E', 'O'}

In [19]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [20]:
# use the difference_update to store the results directly
my_set.difference_update(my_set_from_list)

In [21]:
# updated set
my_set

{4, 'C', 'D', 'E', 'O'}

#### Intersection of two sets


![](images/intersection.png)

---

In [22]:
# Set 1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [23]:
# Set 2 
my_set_from_list

{1, 2, 'A', 'B'}

In [24]:
# intersection of 2 sets
my_set.intersection(my_set_from_list)

{1, 2, 'A', 'B'}

In [25]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [26]:
# to update directly, use intersection_update
my_set.intersection_update(my_set_from_list)

In [27]:
# updated set
my_set

{1, 2, 'A', 'B'}

#### Other operations on set

* is_disjoint
* is_subset
* is_superset
* union

---

In [28]:
# define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [29]:
# check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [30]:
sample_set_1.isdisjoint(sample_set_3)

True

In [31]:
# check if one set is subset of another set
sample_set_2.issubset(sample_set_1)

True

In [32]:
# check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

True

In [33]:
# union of 2 sets
sample_set_1.union(sample_set_3)

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

#### Update Set

---

In [34]:
# update a set with new values, it will add the values which are not present in the original set.
sample_set_1.update({'C', 'D', 'E', 'R', 'Z'})

In [35]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

#### Iterate the set

---

In [36]:
# Iterate the set
for element in sample_set_1:
    print(element)

C
B
E
Z
A
R
D
F