---
---
## Data Structure: Dictionaryüñäüñä

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ‚úñÔ∏è ‚Äúfirst‚Äù item in a dictionary. 
*  ‚òëÔ∏è Note: Dictionaries in Python 3.7 and later will remember the insertion order of their key-value pairs if you create a sequence value from them. But these are still unordered, as you can‚Äôt access items in them using integer indexes.
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.

üìçüìç
---

üìçüìç ***Defining a dictionary in Python*** üìçüìç

In [1]:
# define a dictionary
'''
{
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    .
    .
    .
    .
    'key_n' : 'value_n'
}
'''
# define the key value pairs
my_dictionary = {
    'name'       : 'abc',
    'age'        :  21,
    'roll_no'    : 'CSE100',
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'gurugram',
    'country'    : 'india'
}

In [2]:
# access key of the dictionary
print('Name is : ',my_dictionary['name'])

Name is :  abc

In [3]:
print('Age before updation is : ',my_dictionary['age'])

# update value of the key
my_dictionary['age'] = 25

print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  21
Age after updation is :  25

In [4]:
# get the keys of the dictionary

my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [5]:
# get the values of the dictionary

my_dictionary.values()

dict_values(['abc', 25, 'CSE100', 85, 74, 'gurugram', 'india'])

In [6]:
# update dictionary with a dictionary

my_dictionary.update({ 'pincode' : 122015, 'last_name' : 'xyz'})

In [7]:
my_dictionary

{'name': 'abc',
 'age': 25,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'gurugram',
 'country': 'india',
 'pincode': 122015,
 'last_name': 'xyz'}

---

üìçüìç ***Add new key to the dictionary*** üìçüìç

---

In [8]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'abc', 'age': 25, 'roll_no': 'CSE100', 'percentage': 85, 'attendance': 74, 'city': 'gurugram', 'country': 'india', 'pincode': 122015, 'last_name': 'xyz', 'new_key': 'new_value'}

---

***üìçüìç Dictionary Keys üìçüìç***

---

---

***Most of the data types can be used as keys in Dictionaries***

---

In [9]:
sample = {
    'string' : 'string',
    10       : 'integer',
    1.5      : 'float',
    False    : 'boolean'
}

---

***üìçüìç `Duplicate keys` üìçüìç***

---

In [10]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3
}

In [11]:
sample['A']

1

In [12]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'A' : 100
}

In [13]:
sample['A']

100

***If we add duplicate keys, it will not throw an error instead it will overwrite the value which is added in the last.***

---

---

***üìçüìç A dictionary key must be of a type that is immutable. üìç üìç***

---

In [15]:
# list is mutable, hence not allowed
sample = {
    1 : 'integer',
    [1, 2] : 'list'
}

TypeError: unhashable type: 'list'

In [16]:
# set is mutable, hence not allowed

sample = {
    1 : 'integer',
    { 1, 2 } : 'set'
    
}

TypeError: unhashable type: 'set'

In [17]:
# tuple is immutable, hence it is allowed
sample = {
    1 : 'integer',
    (1, 2) : 'tuple'
}

---

üìçüìç ***Compare 2 dictionaries by changing their order.*** üìçüìç

---

In [18]:
my_dict_1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}

my_dict_2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
}

(my_dict_1 == my_dict_2)

True

---

üìçüìç ***Iterate through key-value pairs of the dictionary*** üìçüìç

---

In [19]:
# Iterate through key-value pairs of the dictionary

for key,value in my_dictionary.items() :
    print(key,value)

name abc
age 25
roll_no CSE100
percentage 85
attendance 74
city gurugram
country india
pincode 122015
last_name xyz
new_key new_value

---

üìçüìç ***Sort the dictionary by key*** üìçüìç

---

In [20]:
m_dict = {
    'KL Rahul' : 45,
    'Rohit'    : 22,
    'Virat'    : 31,
    'Dhawan'   : 17,
    'Rishabh'  : 10 
}

In [21]:
sorted(m_dict.items())

[('Dhawan', 17),
 ('KL Rahul', 45),
 ('Rishabh', 10),
 ('Rohit', 22),
 ('Virat', 31)]

---

üìçüìç ***Sort the dictionary by values*** üìçüìç

    * We will see this when we will study lambda expressions.

---

In [28]:
mydict = dict{}

SyntaxError: invalid syntax (<ipython-input-28-4887a1f2f834>, line 1)

In [27]:
type(mydict)

dict